body{
  background-color: #FE9A2E;
}

.logo-musica{
  width: 50%
}
.redes-sociales>a>img{
  width: 9%;
}

.nav-link:hover{
  background-color: #A9BCF5;
  color: white;
}

.container-fluid{
  margin-top: 8px;
  margin-bottom: 5px;
}

article{
  margin-bottom: 15px;;
}

@media (max-width: 767px) {
  .logo{
    text-align: center !important;
  }
  .redes-sociales{
    text-align: center !important;
  }

}
