nav{
box-shadow: none;
}
.contenedor{
  background-size: auto 90%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.up{
  background-position: 0 145%;
}

.fondo{
  background-color: #08B7E6;
  background-image: url("../img/Arequipa.png");
}

.logo{
width: 7em;
margin-top: 10px;
float: left;
}

.slogan{
  margin: 0;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.img-redes{
  width: 100%;
}
.galeria>img{
  max-width: 100%;
}
.img-articulo{
  max-width: 30%;
  float: left;
  margin-right: 5px;
}
.foto-perfil{
  max-width: 30%;
}
